#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    /* ================= COMBOS ================= */
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <70>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_del {
            timeout-ms = <70>;
            key-positions = <8 9>;
            bindings = <&kp DEL>;
        };
    };

    /* ================= CONDITIONAL LAYER ================= */
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <NAV SYM>;
            then-layer = <ADJ>;
        };
    };

    /* ================= BEHAVIORS ================= */
    behaviors {

        /* ---- Layer-tap: CHỈ dùng cho thumb ---- */
        lt_thumb: layer_tap_thumb {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;

            flavor = "tap-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <110>;
            global-quick-tap;

            bindings = <&mo>, <&kp>;
        };

        /* ---- Vertical scroll ---- */
        scroll_vert: scroll_vert {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_WH_UP>, <&kp C_WH_DOWN>;
        };

        /* ---- Horizontal scroll ---- */
        scroll_hor: scroll_hor {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_WH_LEFT>, <&kp C_WH_RIGHT>;
        };
    };

    /* ================= KEYMAP ================= */
    keymap {
        compatible = "zmk,keymap";

        /* ========== BASE ========== */
        base_layer {
            display-name = "Base";

            bindings = <
    &kp Q      &kp W      &kp E      &kp R      &kp T        &kp Y      &kp U      &kp I      &kp O      &kp P
    &kp A      &kp S      &kp D      &kp F      &kp G        &kp H      &kp J      &kp K      &kp L      &kp SEMI
    &kp Z      &kp X      &kp C      &kp V      &kp B        &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH

    /* Thumb – KHÔNG mod-tap */
    &kp LCTRL  &kp LGUI   &lt_thumb NAV SPACE   &lt_thumb SYM RET
    &kp BSPC   &kp RALT   &kp DEL    &kp RSHFT
            >;

            /* Encoder: scroll mượt */
            sensor-bindings = <&scroll_vert &scroll_hor>;
        };

        /* ========== NAV ========== */
        nav_layer {
            display-name = "Nav";

            bindings = <
    &trans     &kp N7     &kp N8     &kp N9     &kp N0       &kp PG_UP  &kp HOME  &kp UP    &kp END   &trans
    &trans     &kp N4     &kp N5     &kp N6     &trans       &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT &kp COLON
    &trans     &kp N1     &kp N2     &kp N3     &kp DOT      &trans     &trans    &trans    &trans    &trans
    &trans     &trans     &trans     &trans                &trans     &trans    &kp DEL   &trans
            >;
        };

        /* ========== SYM ========== */
        sym_layer {
            display-name = "Sym";

            bindings = <
    &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS   &kp STAR  &kp LPAR  &kp RPAR
    &kp TILDE  &kp MINUS  &kp PLUS   &kp EQUAL  &kp UNDER    &kp LBRC   &kp RBRC   &kp LBKT  &kp RBKT  &kp SQT
    &kp GRAVE  &trans     &trans     &trans     &trans       &kp LT     &kp GT     &trans    &trans    &kp DQT
    &trans     &trans     &trans     &trans                &trans     &trans     &trans    &trans
            >;
        };

        /* ========== ADJ ========== */
        adj_layer {
            display-name = "Adj";

            bindings = <
    &kp F1     &kp F2     &kp F3     &kp F4     &kp F5       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
    &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &trans &trans &trans &trans &kp F11
    &sys_reset &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &kp F12
    &trans     &trans     &trans     &trans                &trans     &trans     &trans     &trans
            >;
        };
    };
};
